@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* font-family: 'Tajawal', sans-serif; */
    font-family: 'Quicksand', sans-serif;
}

body{
    background: #04293A;
    color:white;
}

/* .movies-cont-wrap-tre,.movies-cont-wrap-war,.searching,.movies-cont-wrap-tam,.movies-cont-wrap-fan,.movies-cont-wrap-mar,.movies-cont-wrap-hol{
    display: flex;
    flex-direction: column;
} */

header{
    position: sticky;
    top:0;
    z-index: 100;
}

/*-----nav----------*/

header nav{
    width:100%;
    background-color: #2F455C;
    height:10vh;
    /* position: sticky;
    top:0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;   
    font-size: 1.5rem;
}

nav svg{
    fill:#8ac9df;
    /* fill:#cfdbdf; */
    margin: 0 1rem;
    text-align: center;
    width:60px;
    height: 60px;
}

nav p{
    /* width:15vw; */
}

header nav button{
    /* background-color: rgb(138, 201, 223); */
    background-color:#19818f;
    font-size: 1rem;
    font-weight: bold;
    border:2px solid black;
    border-radius: 25px;
    padding:1.1rem;
    width:max-content;
    /* color:rgb(245, 236, 236); */
    color:#ccc;
    cursor:pointer;
    border:none;
}

/*----search-input----*/

.search-wrap{
    text-align: center;
    /* position: relative; */
    width: 100%;
}

.search-main{
    display: flex;
    justify-content: center;
}

.search-input{
    position: relative;
    margin-bottom: 2rem;
}

.search-input input{
    width: min(90%,500px);
    height: auto;
    margin:0rem 0rem;
    padding: 1rem 2rem 1rem 1rem;
    border:1px solid transparent;
    border-radius: 5rem;
    font-size: 1.5rem;
    /* background:#2F455C; */
    background-color: #285A6B;
    color:white;
    
}

.search-input input:focus,input:hover {
    /* background-color: #285A6B; */
    color:white;
    outline: 0;
}

.search-input input::placeholder{
    font-size:1.5rem;
    font-family: 'Quicksand';
    color:white;
    /* padding:0 rem; */
    /* text-align: center; */ 
}

.search-input button{
    width: 50px;
    height:50px;
    padding:.5rem;
    top:50%;
    /* left:50%; */
    right:0;
    margin-right: 1rem;
    border:none;
    position: absolute;
    transform: translateY(-50%);
    /* background-color: #285A6B; */
    background-color: transparent;
    cursor:pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input ul{
    width: 100%;
    position:absolute;
    /* background-color: #2F455C; */
    border-radius: 20px;
    height: 200px;
    overflow-y: auto;
}

.search-input ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    padding:1rem;
    border-bottom: 1px solid #19818f;
}

/*----fav---*/

.movies-cont h3{
    text-align: center;
}

/* .movies-cont{
    display: flex;
    flex-direction: column;
    margin:1rem;
    padding:2rem;
} */

/*-----Title----*/

.title{
    display: flex;
    width: max-content;
    margin: 3rem auto;
}

.title > *{
    margin:1rem;
}

.title img{
    width:60px;
    height: 60px;
    
}

h1{
    font-size:3.5rem;
    text-align: center;
    color:#19818f;
    font-weight: bolder;
    letter-spacing: .3rem;
}

/*------movie-poster-----*/

.movie-poster{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:1.5rem;
    padding:1rem;
    cursor: pointer;
}

.movie-poster img{
    width:350px;
    height: auto;
    margin:1rem;
    cursor: pointer;
}

/*-----movie-cont-wrap----*/

.mov-wrap{
    display: flex;
    /* justify-content: center; */
    overflow: hidden;
}

h2{
    margin:2rem auto;
    font-size: 3rem;
    /* color:#19818f; */
    color:#2a94b8;
    text-align: center;
    border: 4px dotted #285A6B;
    width:max-content;
    padding: .5rem;
    border-radius: 25px;
}

.movies-cont-wrap{
    width:100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding:.5rem;
}

/*------movies-card-----*/

.movies-card{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    margin:1rem;
    width: min(90%,350px);
    height:650px;
    background-color: #2F455C; 
    border-radius: 2rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.movies-card img{
    width: 100%;
    height: 550px;
    border-radius: 25px 25px 12.5px 12.5px;
}

.movies-card h3{
    font-size:1.5rem;
    text-align: center;
    margin:1rem 0rem;
    /* color:#2a94b8; */
}

.movies-card .movie-details{
    position: absolute; 
    background-color: #285A6B;
    /* background-color: #2F455C; */
    border-radius:25px;
    /* margin: rem; */
    display: flex;
    width:100%;
    min-height: 30%;
    flex-direction: column;
    justify-content: center;
    /* align-items: center ; */
    font-size: 1.1rem;
    font-weight: bolder;
    text-align: center;
    padding: .5rem;
    /* top: 100; */
    cursor: pointer;
    transform: translateY(-100%);
    transition: transform .4s ease-out;
}

.movies-card:hover .movie-details{
    width:100%;
    height: 100%;
    /* top: 100; */
    transform:translateY(0%);
    opacity: 0.9;
}

.movie-details > *{
    padding:1rem;
    margin: 0.5rem auto;
    text-transform: uppercase;
    font-weight: bold;
}

.movies-card span{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:1rem;
    font-size: 1.5rem;
}

.movies-card span.green{
    color:#66ce11;
}

.movies-card span.orange{
    color:rgb(241, 166, 25);
}

.movies-card span.red{
    color:rgb(248, 9, 9);
}

.movie-details button{
    background-color: #2F455C;
    /* background-color: transparent; */
    font-size: 1rem;
    border:2px solid black;
    border-radius: 25px;
    padding:1.1rem;
    width:max-content;
    margin: auto;
    color:white;
    cursor:pointer;
    border:none;
}

.movie-details button a{
    color:white;
    text-decoration: none;
}

/*-------svg-----*/

svg{
    width: 60px;
    height: 60px;
    fill:#2a94b8;
    /* fill:#285A6B; */
    /* background: white; */
    /* border-radius: 50%; */
}

/*---arrow-btn------*/

.arrow-btn{
    display: flex;
    justify-content: space-between;
    width: max-content;
    margin: 2rem auto;
}

.arrow-btn:hover{
    cursor:pointer;
    opacity: .9;
}

/*----footer--------*/

footer{
    background-color: #2F455C;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding:.5rem;
}

footer > *{
    margin:.1rem .1rem;    
    font-size: clamp(1rem,2vw,1.8rem);
    width: 20rem;
    text-align: center;
}

.tmbd-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tmbd-icon img{
    /* height:100px; */
    width:clamp(140px,2vw,150px);
    padding:.5rem;
}

.git_and_linkedin{
    display: flex;
    flex-direction: column;
}

.git_and_linkedin label{
    margin-bottom:1rem;
}

.logo-wrap{
    display:flex;
    justify-content: space-evenly;
}

.tmbd-icon img:hover,.git_and_linkedin svg:hover,.git-repo svg:hover{
    transform:scale(1.2);
    fill:#2a94b8;
    opacity: .7;
}

.git-repo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.git-repo label{
    margin-bottom: 1rem;
}

.thanks label{
    font-size: clamp(1rem,2vw,1.3rem);
}
  /*-----search page-----*/

  .main-sea{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width:100%;
  }

  .button{
      width:max-content;
      margin: auto;
      padding:.4rem;
  }

  .button button{
      padding:1rem;
      background-color: #2F455C;
      border:none;
      border-radius: 25px;
      color:white;
      font-weight: bold;
      font-family: 'Quicksand', sans-serif;
      font-size:1rem;
      cursor:pointer;
    }

    .button1{
        width:9vw;
        margin: auto;
        padding:.4rem;
    }
  
    .button1 button{
        padding:1rem;
        background-color: #2F455C;
        border:none;
        border-radius: 25px;
        color:white;
        font-weight: bold;
        font-family: 'Quicksand', sans-serif;
        font-size:1rem;
        cursor:pointer;
      }

/*-------scrollbar-------*/

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2F455C;
    border-radius: 25px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  #285A6B;
    border-radius: 25px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #19818f;
  }

/*------Media Query-------*/

@media (max-width:400px){
    .movies-card{
        margin: 0.9rem;
    }

    .title{
        width: unset;
    }

    header nav button{
        font-size: .8rem;
        padding: .8rem;
    }
}

@media (max-width:650px){
    h1{
        font-size:2rem;
    }
}

@media (max-width:470px){
    h2{
        width:unset;
    }
}

@media(max-width:380px){
    nav > svg {
        height: auto;
    }
}