@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* font-family: 'Tajawal'; */
    font-family: 'Quicksand';
}

h1{
    color:#658b99;
}

/*----img and svg----*/
/* 
img{
    width:400px;
    height: 500px;
} */

svg{
    width:60px;
    height: 50px;
    fill:#2a94b8;
    /* fill:#285A6B; */
    /* background: white; */
    /* border-radius: 50%; */
}

.movie-rate svg,.movie-lang svg{
    width: clamp(40px,2vw,80px);
}

/*------body------*/

body{
    background-color:#04293A;
}

/*-------header-----*/

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prod-plat{
    display: flex;
}

header nav .prod-name{
    display: flex;
    justify-content: flex-start;
    white-space: wrap;
    width:100%;
    /* width: clamp(50%,2vw,90%); */
    /* flex-wrap: wrap; */
}

.prod-name > * {
    /* padding: .5rem; */
    margin: .9rem;
}

.prod-name p{
    font-size: clamp(.6rem,2vw,1.2rem);
    color:white;
    padding:.5rem;
    font-family: 'Quicksand';
    font-weight: bold;
    display: flex;
    align-items: center;
    width: max-content;
    white-space: nowrap;
}

.prod-name p > *{
    margin: .5rem;
}

.prod-name p:hover{
    background-color: #658b99;
    border-radius:25px;
}

.prod-name img{
    width: clamp(50px,2vw,100px);
    height:clamp(55px,2vh,90px);
    padding:.5rem;
    height: auto;
    box-sizing: unset;
}

.prod-name img:hover{
    transform:scale(1.2);
    background-color: #ccc;
}

header nav .prod-plat img{
    width:clamp(70px,3vw,70px);
    height:clamp(70px,2vh,90px);
    margin:.5rem;
    padding:.5rem;
}

header nav .prod-plat img:hover{
    transform:scale(1.2);
}

/*------nav-header--------*/

nav{
    width:100%;
    height: auto;
    background-color: #2F455C;
    margin-bottom:1rem ;
}

.nav-header{
    width:100%;
    /* height: 15vh; */
    background:#04293A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.header-2 .logo{
    width:clamp(100px,20vw,200px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-1 .details{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0.2rem 2.5rem 0px;
    font-size: clamp(.9rem,2vw,1.6rem);
    font-weight:bold;
    color:white;
}

.nav-header .header-3{
    padding:1rem .3rem;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: clamp(60px, 20vw, 130px);
}
.header-3 > *{
    margin: 0px clamp(0.5rem, 3vw, 2rem);
}

.movie-rate > *{
    padding: .1rem;
    text-align: center;
}

.movie-rate, .movie-lang{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    white-space: wrap;
}

.movie-rate svg{
    margin-left: 1.2rem;
}

.rating{
    font-size: clamp(1rem,2vw,1.7rem);
    font-weight: bold;
    color:white;
    margin-left: 1rem;
}

.rating span{
    padding: 0rem .2rem;
    /* font-size: 1.7rem; */
    color:white;
}

.movie-title-nav{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: clamp(.9rem,5vw,2rem);
    padding:.4rem;
    text-transform: uppercase;
}

.movie-lang svg{
    padding:.1rem;
    /* margin-left:1rem; */
    /* display: flex;
    justify-content: center; */
}

.movie-lang{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;   
    white-space: nowrap;
    font-size:clamp(.9rem,2vw,1.5rem);
}

.movie-lang .language{
    /* text-align: center; */
    color:white;
    /* font-size:1.5rem; */
    font-weight:bold;
    display: flex;
    justify-content: center;
    /* margin-left: .8rem;
    margin-right: .5rem; */
}

/*----poster------*/

.pos_backgd{
    width:100%;
    height: 80vh;
    background:url(../assets/cinema2.jpg) top;
    background-size:cover;
    background-repeat: no-repeat;
}

.pos_container{
    background-color: rgba(32, 56, 71, 0.7);
    padding:0 5vw;
    width:100%;
    height: 100%;
    /* margin: 2rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
}

.pos_con{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.pos_image{
    margin:1rem 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pos_image img{
    width:400px;
    height:500px;
}

.pos_image p{
    /* text-align: center; */
    padding:1rem 0rem;
    font-size:1.4rem;
    color:#658b99;
    width:unset;
    margin:auto;
    /* display: flex;
    justify-content: center; */
    font-weight:bold;
    white-space: wrap;
}

.pos_img_det{
    /* width:60vw; */
    color:#658b99;
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
}

.pos_movie_det{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: flex-start;
    padding-left: 3rem; 
    /* margin-left: 5rem; */
}

.pos_movie_det .movie-title > *{
    margin:2rem 0;
}

.pos_movie_det .movie-title h2{
    font-size: clamp(1.2rem,2vw,2rem);
    font-weight: bolder;
}

.pos_movie_det .movie-title span{
    padding:1rem;
    font-size: clamp(1.1rem,2vw,1.8rem);
}

.movie-title_gen {
    display: flex;
    justify-content: space-around;
}

.movie-title_gen div{
    padding:0rem 1rem;   
    margin:0rem 1rem;
    font-size:clamp(.9rem,2vw,1.5rem);
    font-family:'Quicksand';
    font-weight:bold;
    background-color: #658b99;
    color:white;
    padding:.8rem;
    border-radius: 25px;
}

/*-----plot----*/

.movie_plot{
    display: flex;
    flex-direction: column;
    background-color: #2F455C;
    padding:1rem;
}

.movie_plot h2{
    text-align: center;
    color:white;
    /* border: 2px solid #2a94b8; */
    padding:1rem;  
    border: 2px dashed #2a94b8; 
    width:max-content;
    margin:auto;
    border-radius: 25px;
}

.movie_plot p{
    font-size:clamp(1.2rem,2vw,1.6rem);
    color:white;
    text-align: justify;
    padding:1.5rem;
}

/*-----cast---*/

.movie-cast{
    text-align: center;
    margin: 3rem 2rem 1rem;
    color:white; 
}

.movie-cast h1{
    /* background-color: #2a94b8; */
    border: 2px dashed #2a94b8;
    /* text-align: center; */
    width:max-content;
    margin:auto;
    padding:1rem;
    border-radius: 25px;
}

.arr-slide{
    display: flex;
    overflow: hidden;
}

.slider__cnt{
    display: flex;
    justify-content: space-evenly;
}

.cast-card{
    display: flex;
    flex-direction: column;
    flex-shrink:0;
    margin:1rem;
    width:min(90%,350px);
    height:500px;
    background-color: #2F455C;
    border-radius: 2rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.cast-card img{
    width: min(100%,350px);
    height: 400px;
    border-radius: 25px 25px 12.5px 12.5px;
}

.cast-card h2{
    font-size:1.5rem;
    text-align: center;
    margin:1rem 0rem;
    /* color:#2a94b8; */
}

.cast-card .char-name{
    position: absolute; 
    background-color: #285A6B;
    /* background-color: #2F455C; */
    border-radius:25px;
    /* margin: rem; */
    width:100%;
    min-height: auto;
    /* align-items: center ; */
    font-size: 1.4rem;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content:center;
    text-align:center;
    padding: .5rem;
    /* top: 100; */
    cursor: pointer;
    /* transform: translateY(750%); */
    bottom: -100%;
    transition: transform 2s ease-out;
}

.cast-card:hover .char-name{
    width:100%;
    /* height: 4rem; */
    /* top: 100; */
    /* transform:translateY(0%); */
    bottom:0;
    opacity: .9;
    height:auto;
}

/*----arrow-btn-----*/

.arrow-btn{
    display: flex;
    justify-content: space-between;
    width: max-content;
    margin: 2rem auto;
}

.arrow-btn:hover{
    cursor: pointer;
}

/*-----video-----*/

.media{
    text-align: center;
    margin: 3rem 1rem 1rem;
    color:white; 
}

.media .video{
    background-color: rgba(32, 56, 71, 0.7);
    border-radius: 20px;
    /* width:100%; */
    height: 400px;
    overflow-y: auto;
    margin:1rem auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.media .video iframe{
    margin:.8rem;
    padding: .1rem;
    
}

.media .no-video{
    padding:1rem;
    display: grid;
    place-items: center;
    font-size: 3rem;
    font-family: 'Quicksand';
    color:#19818f;
}

.media > * {
    margin:2rem;
}

.media h1{
    /* background-color: #2a94b8; */
    border: 2px dashed #2a94b8;
    /* text-align: center; */
    width:max-content;
    margin:auto;
    padding:1rem;
    border-radius: 25px;
}

/*----recommendations card---*/

.rec-mov{
    color:white;
    margin: 3rem 2rem 1rem;
}

.rec-mov h1{
    text-align: center;
    /* background-color: #2a94b8; */
    border: 2px dashed #2a94b8;
    width:max-content;
    margin:auto;
    padding:1rem;
    border-radius: 25px;
}

.rec__cnt{
    display: flex;
    justify-content: space-evenly;
}

.rec-card{
    display: flex;
    flex-direction: column;
    flex-shrink:0;
    margin:1rem;
    width:min(95%,350px);
    /* min-width: 350px; */
    height:650px;
    background-color: #2F455C;
    border-radius: 2rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.rec-card img{
    width:min(100%,350px);
    height: 550px;
    border-radius: 25px 25px 12.5px 12.5px;
}

.rec-card h2{
    font-size:1.4rem;
    text-align: center;
    margin:1rem 0rem;
    /* color:#2a94b8; */
}

.rec-card .hidden-movie-det{
    position: absolute; 
    background-color: #285A6B;
    /* background-color: #2F455C; */
    border-radius:25px;
    /* margin: rem; */
    display: flex;
    width:100%;
    min-height: 30%;
    flex-direction: column;
    justify-content: center;
    /* align-items: center ; */
    font-size: 1.1rem;
    font-weight: bolder;
    text-align: center;
    padding: .5rem;
    /* top: 100; */
    cursor: pointer;
    transform: translateY(120%);
    transition: transform .5s ease-out;
}

.rec-card:hover .hidden-movie-det{
    width:100%;
    height: 100%;
    /* top: 100; */
    transform:translateY(0%);
    opacity: 0.9;
}

.hidden-movie-det > *{
    padding:1rem;
    margin: 0.5rem auto;
    /* text-transform: lowercase; */
    font-weight: bold;
}

.hidden-movie-det div {
    font-size: 1.5rem;
}

.hidden-movie-det span{
    font-size:2rem;
}

.rec-card span{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:1rem;
    font-size: 1.5rem;
}

.hidden-movie-det button{
    background-color: #2F455C;
    /* background-color: transparent; */
    font-size: 1rem;
    border:2px solid black;
    border-radius: 25px;
    padding:1.1rem;
    width:max-content;
    margin: auto;
    color:white;
    cursor:pointer;
    border:none;
}

.hidden-movie-det button a{
    color:white;
    text-decoration: none;
}

/*--footer----*/

footer{
    background-color: #2F455C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    width: 100%;
    height: auto;
    padding:.5rem;
    color:white;
}

footer > *{
    margin:.1rem .1rem;    
    font-size: clamp(1rem,2vw,1.8rem);
    /* font-weight: bold; */
    width: 20rem;
    text-align: center;
}

.tmbd-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tmbd-icon img{
    /* height:100px; */
    width:clamp(100px,10vw,150px);
    padding:.5rem;
}

.git_and_linkedin{
    display: flex;
    flex-direction: column;
}

.git_and_linkedin label{
    margin-bottom:1rem;
}

.logo-wrap{
    display:flex;
    justify-content: space-evenly;
}

.tmbd-icon img:hover,.git_and_linkedin svg:hover,.git-repo svg:hover{
    transform:scale(1.2);
    fill:#2a94b8;
    opacity: .7;
}

.git-repo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.git-repo label{
    margin-bottom: 1rem;
}

.thanks label{
    font-size: clamp(1rem,2vw,1.3rem);
}

/*-------scrollbar-------*/

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2F455C;
    border-radius: 25px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  #285A6B;
    border-radius: 25px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #19818f;
  }

.card-details span.green{
    color:#66ce11;
}

.card-details span.orange{
    color:rgb(241, 166, 25);
}

.card-details span.red{
    color:rgb(248, 9, 9);
}

span.green{
    color:#66ce11;
}

span.orange{
    color:rgb(241, 166, 25);
}

span.red{
    color:rgb(248, 9, 9);
}

/*----Media Query-----*/

@media (max-width:1070px){
    .movie-title_gen{
        display: flex;
        flex-wrap:wrap;
        /* flex-direction: column; */
    }
    .movie-title_gen .mov_value{
        margin: 1rem;
    }
}

@media(max-width:1080px){
    .pos_img_det{
        display: flex;
        flex-direction: column;
    }

    .pos_image img{
        width:auto;
    }

    .pos_container{
        height:auto;
    }

    .pos_backgd{
        height:auto;
    }
}

@media(max-width:900px){
    .pos_image p{
        font-size:1.1rem;
    }
}

@media(max-width:500px){
    iframe{
        width:300px;
        height: 200px;
        overflow: hidden;
    }
}

@media(max-width:370px){
    iframe{
        width:clamp(285px,10vw,500px);
        /* height: 200px; */
    }
}

@media(max-width:405px){
    .rec-mov h1{
        width:unset;
    }
}

@media(max-width:680px){
    footer{
        display: flex;
        justify-content: center;
    }
}

@media(max-width:410px){
    .nav-header .header-3{
        display: flex;
        flex-direction: column;
    }

    .rating{
        margin: 0;
    }

    .movie-rate svg{
        margin-left: 0rem;
    }

    .prod-name img{
        width: clamp(40px,2vw,100px);
    }

    header nav .prod-name{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        /* white-space: pre-wrap; */
    }

    .prod-name > *{
        margin:.2rem;
    }

    .prod-name p{
        white-space: pre-wrap;
    }

    header nav .prod-plat img{
        width:clamp(46px,2vw,70px);
        height:clamp(48px,2vh,90px);
        margin:.5rem;
        padding:.5rem;
    }

    header .prod-plat{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    
}