@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* font-family: 'Tajawal', sans-serif; */
    font-family: 'Quicksand', sans-serif;
}

body{
    background: #04293A;
    color:white;
}

/*-----nav----------*/

nav{
    width:100%;
    background-color: #2F455C;
    height:15vh;
    position: sticky;
    top:0; 
    display: flex;
    justify-content: flex-end;
    padding:20px;   
    font-size: 1.5rem;
}

nav p{
    width:15vw;
}

/*----search-input----*/

.search-wrap{
    text-align: center;
    position: relative;
    width: 100%;
}

.search-main{
    display: flex;
    justify-content: center;
}

.search-input input{
    width: clamp(18vw,25vw,30vw);
    height: auto;
    margin:2rem;
    padding: 1rem 2rem 1rem 1rem;
    border:1px solid transparent;
    border-radius: 5rem;
    font-size: 1.5rem;
    background:#2F455C;
}

.search-input input:focus,input:hover {
    background-color: #285A6B;
    color:white;
    outline: 0;
}

.search-input input::placeholder{
    font-size:1.5rem;
    font-family: 'Quicksand';
    color:white;
    padding:0   rem;
    /* text-align: center; */ 
}

.search-input a{
    width: 50px;
    height:50px;
    padding:.5rem;
    top:50%;
    left:59%;
    position: absolute;
    transform: translateY(-50%);
    /* background-color: #285A6B; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----Title----*/

h1{
    font-size:3.5rem;
    text-align: center;
    margin: 2rem auto;
    color:#19818f;
    font-weight: bolder;
    letter-spacing: .3rem;
}

/*------movie-poster-----*/

.movie-poster{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:1.5rem;
    padding:1rem;
    cursor: pointer;
}

.movie-poster img{
    width:350px;
    height: auto;
    margin:1rem;
    cursor: pointer;
}

/*-----movie-cont-wrap----*/

h2{
    margin:2rem auto;
    font-size: 3rem;
    /* color:#19818f; */
    color:#2a94b8;
    text-align: center;
    border: 4px dotted #285A6B;
    width:30vw;
    padding: .5rem;
    border-radius: 25px;
}

.movies-cont-wrap{
    width:100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding:.5rem;
}

/*------movies-card-----*/

.movies-card{
    display: flex;
    flex-direction: column;
    margin:1rem;
    width:400px;
    min-width: 350px;
    height:50%;
    border-radius: 25px;
    background-color: #2F455C;
    border-radius: 2rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.movies-card img{
    width: 350px;
    height: auto;
    border-radius: 25px 25px 12.5px 12.5px;
}

.movies-card h3{
    font-size:2rem;
    text-align: center;
    margin:1rem;
    /* color:#2a94b8; */
}

.movies-card .hidden-movie-det{
    position: absolute; 
    background-color: #285A6B;
    /* background-color: #2F455C; */
    border-radius:25px;
    /* margin: rem; */
    display: flex;
    width:100%;
    min-height: 30%;
    flex-direction: column;
    justify-content: center;
    /* align-items: center ; */
    font-size: 1.1rem;
    font-weight: bolder;
    text-align: center;
    padding: .5rem;
    top: -1000%;
    cursor: pointer;
    transition: top .3s ease-out;
}

.movies-card:hover .hidden-movie-det{
    width:100%;
    height: 100%;
    top: 0;
    opacity: 0.9;
}

.hidden-movie-det > *{
    padding:1rem;
    margin: 0.5rem auto;
    text-transform: uppercase;
    font-weight: bold;
}

.hidden-movie-det button{
    background-color: #2F455C;
    /* background-color: transparent; */
    font-size: 1rem;
    border:2px solid black;
    border-radius: 25px;
    padding:1.1rem;
    width:7vw;
    color:white;
    cursor:pointer;
    border:none;
}

/*-------svg-----*/

svg{
    width: 60px;
    height: 60px;
    fill:#2a94b8;
    /* fill:#285A6B; */
    /* background: white; */
    /* border-radius: 50%; */
}

/*---arrow-btn------*/

.arrow-btn{
    display: flex;
    justify-content: space-between;
    width: 20vw;
    margin: 2rem auto;
}

.arrow-btn:hover{
    cursor:pointer;
    opacity: .9;
}

/*----footer--------*/

footer{
    background-color: #2F455C;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20vh;
    padding:1rem;
}

footer > *{
    margin:1rem .1rem;    
    font-size: 1.7rem;
    width: 20rem;
    text-align: center;
}

.tmbd-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tmbd-icon img{
    height:100px;
    width:150px;
}

.git_and_linkedin{
    display: flex;
    flex-direction: column;
}

.git_and_linkedin label{
    margin-bottom:1rem;
}

.logo-wrap{
    display:flex;
    justify-content: space-evenly;
}

.tmbd-icon img:hover,.git_and_linkedin svg:hover,.git-repo svg:hover{
    transform:scale(1.2);
    fill:#2a94b8;
    opacity: .7;
}

.git-repo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.git-repo label{
    margin-bottom: 1rem;
}

/*-------scrollbar-------*/

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2F455C;
    border-radius: 25px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  #285A6B;
    border-radius: 25px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #19818f;
  }