@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* font-family: 'Tajawal', sans-serif; */
    font-family: 'Quicksand', sans-serif;
}

body{
    background: #04293A;
    color:white;
}

nav{
    width:100%;
    background-color: #2F455C;
    height:15vh;
    /* position: -webkit-sticky;
    position: sticky;
    top:0; */
    display: flex;
    justify-content: flex-end;
    padding:20px;   
    font-size: 1.5rem;
}

nav p{
    width:15vw;
}

.search-wrap{
    text-align: center;
    position: relative;
    width: 100%;
}

.search-main{
    display: flex;
    justify-content: center;
}

.search-input input{
    width: clamp(18vw,25vw,30vw);
    height: auto;
    margin:2rem;
    padding: 1rem 2rem 1rem 1rem;
    border:1px solid transparent;
    border-radius: 5rem;
    font-size: 1.5rem;
    background:#2F455C;
}

.search-input input:focus,input:hover {
    background-color: #285A6B;
    color:white;
    outline: 0;
}

.search-input input::placeholder{
    font-size:1.5rem;
    font-family: 'Quicksand';
    color:white;
    padding:1rem;
    /* text-align: center; */ 
}