@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* font-family: 'Tajawal', sans-serif; */
    font-family: 'Quicksand', sans-serif;
}

body{
    background: #04293A;
    color:white;
}

nav{
    width:100%;
    background-color: #2F455C;
    height:15vh;
    /* position: -webkit-sticky;
    position: sticky;
    top:0; */
    display: flex;
    justify-content: flex-end;
    padding:20px;   
    font-size: 1.5rem;
}

nav p{
    width:15vw;
}

.search-wrap{
    text-align: center;
    position: relative;
    width: 100%;
}

.search-main{
    display: flex;
    justify-content: center;
}