@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* font-family: 'Tajawal'; */
    font-family: 'Quicksand';
}

/*----img and svg----*/

img{
    width:400px;
    height: 500px;
}

svg{
    width: 60px;
    height: 60px;
    fill:#2a94b8;
    /* fill:#285A6B; */
    /* background: white; */
    /* border-radius: 50%; */
}

/*------body------*/

body{
    background-color:#04293A;
}

/*------nav--------*/

nav{
    height: 10vh;
    background-color: #2F455C;
    margin-bottom:1rem ;
}

.nav-header{
    width:100%;
    height: 15vh;
    background:#04293A;
    display: flex;
    justify-content: space-between;
}

.nav-header .header-2{
    padding:1rem 1rem;
    width: 25vw;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.movie-rate > *{
    padding: .1rem;
    text-align: center;
}

.movie-rate svg{
    margin-left: 1.2rem;
}

.rating span{
    padding: .4rem;
    font-size: 1.7rem;
    color:white;
}

