@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* font-family: 'Tajawal'; */
    font-family: 'Quicksand';
}

/*----img and svg----*/

img{
    width:400px;
    height: 500px;
}

svg{
    width: 60px;
    height: 60px;
    fill:#2a94b8;
    /* fill:#285A6B; */
    /* background: white; */
    /* border-radius: 50%; */
}

/*------body------*/

body{
    background-color:#04293A;
}

/*------nav--------*/

nav{
    height: 10vh;
    background-color: #2F455C;
    margin-bottom:1rem ;
}

.nav-header{
    width:100%;
    height: 15vh;
    background:#04293A;
    display: flex;
    justify-content: space-between;
}

.nav-header .header-2{
    padding:1rem 1rem;
    width: 25vw;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.movie-rate > *{
    padding: .1rem;
    text-align: center;
}

.movie-rate svg{
    margin-left: 1.2rem;
}

.rating span{
    padding: .4rem;
    font-size: 1.7rem;
    color:white;
}

/*----poster------*/

.pos_backgd{
    width:100%;
    height: 80vh;
    background:url(assets/cinema2.jpg) top;
    background-size:cover;
    background-repeat: no-repeat;
}

.pos_container{
    background-color: rgba(32, 56, 71, 0.7);
    padding:0 5vw;
    width:100%;
    height: 100%;
    /* margin: 2rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
}

.pos_con{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.pos_image{
    margin:1rem;
}

.pos_img_det{
    /* width:60vw; */
    color:#658b99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pos_movie_det{
    display: flex;
    flex-direction: column;
    padding: 2rem; 
    /* margin-left: 5rem; */
}

.pos_movie_det > *{
    font-size: 1.3rem;
    margin:2rem 0;
}

.movie-title{
    display: flex;
    justify-content: space-evenly;
}

/*-----genre----*/

.movie_genre{
    display: flex;
    flex-direction: column;
    background-color: #2F455C;
    padding:1rem;
}

.movie_genre h2{
    text-align: center;
    color:white;
    /* border: 2px solid #2a94b8; */
    padding:1rem;   
}

/*-----cast---*/

.movie-cast{
    text-align: center;
    margin: 3rem 2rem 1rem;
    color:white;
}

.cast-slide h1{
    /* background-color: #2a94b8; */
    border: 2px dashed #2a94b8;
    /* text-align: center; */
    width:30vw;
    margin:auto;
    padding:1rem;
    border-radius: 25px;
}

.slider__cnt{
    display: flex;
    justify-content: space-between;
}

.arrow-btn{
    display: flex;
    justify-content: space-between;
    width: 20vw;
    margin: 2rem auto;
}

